<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Date & Time</th>
      <th>Barber</th>
      <th>Color</th>
    </tr>
  </thead>

  <body>
    <% @results.each do |row| %>
        <tr>
          <td><%= row['username'] %></td>
          <td><%= row['phone'] %></td>
          <td><%= row['datestamp'] %></td>
          <td><%= row['barber'] %></td>
          <td style="background-color: <%= row['color']%>"><%= row['color'] %></td>
        </tr>
      <% end %>
  </body>
</table>
