<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Date & Time</th>
      <th>Barber</th>
      <th>Color</th>
    </tr>
  </thead>

  <body>
    <% @results.each do |row| %>
        <tr>
          <td><%= ['username'] %></td>
          <td><%= ['phone'] %></td>
          <td><%= ['datestamp'] %></td>
          <td><%= ['barber'] %></td>
          <td><%= ['color'] %></td>
        </tr>
      <% end %>
  </body>
</table>
